body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(255,255,255);
}

.background-change {
    background: pink;
}

.header {
    background: rgb(47, 54, 59);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    z-index: 2;
    transition: all 0.4s;
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.15);

}

.header-scrolled {
    background: rgb(47, 54, 59, 0.65);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    z-index: 2;
}

.toggle-button {
    margin-top: 200px;
    margin-left: 600px;
}

.page-row-section {

    display: flex;
    flex-direction: row;
}
.page-column-section {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 100px;
}

.content {
    position: relative;
    padding: 20px;
    margin-top: 100px;
    margin-left: 40px;
    width: 30%;
    height: 70%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: none;
    z-index: 0;
}

.content::before {
    content: "";
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(246,246,246);
    border-radius: 10px;
    z-index: -1;
    transform-origin: center center;
    transition: all 0.5s ease;
}

.content.default-mode::before {
    background: rgb(246,246,246);
}

.content.default-mode:hover::before {
    animation: none;
    transform: scale(1.2, 1.2);
}

.content.default-mode:hover {
    background: none;
}

.content.alt-mode::before {
   background: rgb(246,246,246);
}

.content.alt-mode:hover::before {
    background: rgb(246,246,246); 
    animation: animationOne 0.5s forwards ease-out,
               animationTwo 0.5s 0.5s forwards ease-in,
               animationThree 0.5s 1s forwards ease-out,
               animationFour 0.3s 1.5s forwards ease-in;
}


.page-text {
    color: black;
    position: relative;
    z-index: 1; 
}

a {
    text-decoration: none;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    padding-right: 100px;
}

.nav-text {
    text-decoration: none;
    margin-right: 15px;
    color: rgb(246,246,246);
}

.nav-text:hover {
    color: white;
    cursor: pointer;
    text-shadow: 0 0 40px rgb(255, 255, 255, 0.4);
}

.option-logo {
    width: 75px;
    height: 75px;
    /*position: absolute;*/
}

@keyframes animationOne {
    0% { transform: scale(1, 1); }
    100% { transform: scale(1.5, 0.75); }
}

@keyframes animationTwo {
    0% { transform: scale(1.5, 0.75); }
    100% { transform: scale(1, 1); }
}

@keyframes animationThree {
    0% { transform: scale(1, 1); }
    100% { transform: scale(0.75, 1.5); }
}

@keyframes animationFour {
    0% { transform: scale(0.75, 1.5); }
    100% { transform: scale(1, 1); } 
}
