body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: beige;
}


.header {
    background: #4F7942;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    
}

.toggle-button {
    margin-top: 200px;
}
.background-change{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: pink;
}

.text-body-playground {
    color: blue;
}

a {
    text-decoration: none;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    padding-right: 100px;
}

.nav-text {
   text-decoration: none;
   margin-right: 15px;
   color: beige;
}

.nav-text:hover{
    color: white;
    cursor: pointer;
}

.option-logo {
    width: 100px;
    height: 100px;
}