.header {
    background: rgb(255, 255, 255, 0.97);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    padding: 20px 100px;
    z-index: 2;
    transition: all 0.4s;
    /*box-shadow: 0 3px 10px rgb(0, 0, 0, 0.15);*/
    display: flex;
    flex-direction: row;
}

.header-scrolled {
    background: rgb(255, 255, 255, 0.98);
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.25);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    z-index: 2;
    animation: none;
    transform: scale(1.0035);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    padding-right: 100px;
 
}

.nav-text {
    text-decoration: none;
    margin-right: 15px;
    color: black;
    margin-top: 50px;
    margin-left: 40px;
}

.nav-text:hover {
    color: rgb(72, 71, 71);
    cursor: pointer;
    text-shadow: 0 0 40px rgb(0, 0, 0, 0.4);
}

.nav-text.active::after {
    content: '•';
    display: block;
    text-align: center;
    color: black;
    margin-top: 3px;
}

.nav-text:hover::after {
    color: lightskyblue;
}

.option-logo {
    width: 75px;
    height: 75px;
    display: flex;
}

.selector-content {
    width: 100%;
    opacity: 0;
    transition: all 1s;
    animation: slidingAnimationLeft 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.visible-selector-content {
    opacity: 1;
    animation: slidingAnimationRight 1s;

}

.toggle-button {
    width: 150px;
    height: 33px;
    margin-top: 20px;
    position: relative; 
    border: none;
    background-color: white;
    color: black;
    border-radius: 4px;
    box-shadow: inset 0 0 0 lightyellow;
    transition: ease-out 0.3s;
    outline: none;
    align-self: center;
}

.toggle-button:hover {
    box-shadow: inset 300px 0 0 0 lightyellow;
    cursor: pointer;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(255,255,255);
    margin-top: 300px;
}

.background-change {
    background: lightyellow;
}

.page-row-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}
.page-column-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-row-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start; 
    height: 100%; 
}

.inner-column-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    height: 100%; 
}

.page-text {
    color: black;
    z-index: 1; 
    font-size: 22px;
    line-height: 1.7;
    align-items: center;
    justify-content: center;
    text-align: left;
    transition: all 0.5s ease;
}

.content {
    position: relative;
    padding: 20px;
    width: 75vw;
    height: 400px;
    border-radius: 4px;
    background: none;
    z-index: 0;
    display: flex;
    font-size: 100%;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.content::before {
    content: "";
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 4px;
    z-index: -1;
    transform-origin: center center;
    transition: all 0.5s ease;
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.00);
}

.content.default-mode::before {
    background: white;
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.00);
}
.content.default-mode:hover::before {
    animation: none;
    transform: scale(1.1, 1.1);
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.00);
}

.content.default-mode:hover {
    background: none;
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.00);

}

.content.default-mode:hover .page-text {
    transform: scale(1.1, 1.1);
}

.content img {
    margin-right: 50px;
    transition: all 0.5s ease;
}

.content.default-mode:hover img {
    transform: scale(1.1);
}

.content.alt-mode::before {
   background: white;
   box-shadow: 0 3px 10px rgb(0, 0, 0, 0.00);
}

.content.alt-mode:hover::before {
    background: white; 
    animation: animationOne 0.5s forwards ease-out,
               animationTwo 0.5s 0.5s forwards ease-in,
               animationThree 0.5s 1s forwards ease-out,
               animationFour 0.3s 1.5s forwards ease-in;
}

.content.alt-mode:hover .page-text {
    animation: animationOne 0.5s forwards ease-out,
    animationTwo 0.5s 0.5s forwards ease-in,
    animationThree 0.5s 1s forwards ease-out,
    animationFour 0.3s 1.5s forwards ease-in;
}

a {
    text-decoration: none;
}

img {
    height: 370px;
    width: 555px;
}

.gradient-hr {
    border: 0;
    height: 1.5px;
    background: linear-gradient(to right, lightblue, lightgreen, pink);
    width: 75%;
}

@keyframes animationOne {
    0% { transform: scale(1, 1); }
    100% { transform: scale(1.5, 0.75); }
}

@keyframes animationTwo {
    0% { transform: scale(1.5, 0.75); }
    100% { transform: scale(1, 1); }
}

@keyframes animationThree {
    0% { transform: scale(1, 1); }
    100% { transform: scale(0.75, 1.5); }
}

@keyframes animationFour {
    0% { transform: scale(0.75, 1.5); }
    100% { transform: scale(1, 1); } 
}

@keyframes slidingAnimationRight {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

@keyframes slidingAnimationLeft {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

