<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css')}}">
    
    <title>Projects</title>
</head>
<body>
    <header class="header">
        <a href="/">
            <img class="option-logo" src="{{ url_for('static', filename='images/AAlogo.png') }}" alt="logo">
        </a>
        <nav class="nav-bar" >
            <a href="/about" class="nav-text">About Me</a>
            <a href="/projects" class="nav-text">Projects</a>
        </nav>
    </header>
    <div class="image-container">
        <div class="image-wrapper">
            <div>
                <img src="{{ url_for('static', filename='images/img1.jpeg')}}">
            </div>
            <div>
                <img src="{{ url_for('static', filename='images/img2.jpeg')}}">
            </div>
            <div>
                <img src="{{ url_for('static', filename='images/img3.jpeg')}}">
            </div>
            <div>
                <img src="{{ url_for('static', filename='images/img4.jpeg')}}">
            </div>
        </div>
    </div>
    <div class="page-row-section">
        <div class="page-column-section">
            <div class="content">
                <p class="page-text">
                    What's Up, I'm Avery Allen! I am a High School Student at Anderson High School in Austin, and I am working on this website to hone my skills and share things about me. I am currently unemployed but I divulge in many hobbies including coding fun projects, like this one, playing tennis, working out, learning spanish, watching youtube vidoes, and of course hanging out with friends.
                </p>
            </div>
        </div>
    </div>

    <div class="page-row-section">
        <div class="page-column-section">
            <div class="content">
                <p class="page-text">
                    I am currently trying to gain as much knowledge as I can while finding a passion that I truly love. I try to push my understanding of the world and the many facets between. I believe that with consistency, effort, and time, any amout of personal growth can be attained.
                </p>
            </div>
        </div>
    </div>

    <script>
        const imageWrapper = document.querySelector('.image-wrapper');
        const imageItems = document.querySelectorAll('.image-wrapper > *');
        const imageLength = imageItems.length;
        const perView = 3
        let totalScroll = 0
        const delay = 2500

        imageWrapper.style.setProperty('--per-view', perView)
        for(let i = 0; i < perView; i++) {
            imageWrapper.insertAdjacentHTML('beforeend', imageItems[i].outerHTML)
        }

        let autoScroll = setInterval(scrolling, delay)
        
        function scrolling() {
            totalScroll++
            if(totalScroll == imageLength + 1) {
                clearInterval(autoScroll)
                totalScroll = 1
                imageWrapper.style.transition = '0s'
                imageWrapper.style.left = '0'
                autoScroll = setInterval(scrolling, delay)
            }
            const widthEl = document.querySelector('.image-wrapper > :first-child').offsetWidth + 24
            imageWrapper.style.left = `-${totalScroll * widthEl}px`
            imageWrapper.style.transition = '0.3s'

        }


    </script>
</body>
</html>