<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='images/AAlogo.png') }}" type="image/png">
    <title>Projects</title>
</head>



<body>
    ​<div id="glowing-circle"></div>
    <header class="header">
        <a href="/" class="nav-text" id="home-link"> Home </a>
        <nav class="nav-bar">
            <a href="{{ url_for('about') }}" class="nav-text" id="about-link">About Me</a>
            <a href="{{ url_for('projects') }}" class="nav-text" id="projects-link">Projects</a>
        </nav>
    </header>
    <div class="page-row-section">
        <div class="page-row-section" style="margin-right: 120px;"> 
            <div class='a' style="margin-right: 25px;">
                <a href="https://www.duolingo.com/profile/AveryAllen360694" target="_blank" style="all: unset;">
                    <img class="floating-img" src="{{ url_for('static', filename='images/Duolingo.avif')  }}" alt="duolingo icon">
                </a>
            </div>
            <div class='b'>
                <a href="https://github.com/AKAvery" target="_blank" style="all: unset;">
                <img class="floating-img" src="{{ url_for('static', filename='images/github_trans_icon.png') }}">
            </a>
            </div>
        </div>  
        <div class="page-column-section" style="margin-top: 325px;">
            <div class="page-column-section" style="margin-top: 130px;">
                <div class="image-container">
                    <div class="image-wrapper">
                        <div>
                            <img class="revolving-img" src="{{ url_for('static', filename='images/img1.jpeg')}}">
                        </div>
                        <div>
                            <img class="revolving-img" style="object-position: center 33%;" src="{{ url_for('static', filename='images/img2.jpeg')}}">
                        </div>
                        <div>
                            <img class="revolving-img" src="{{ url_for('static', filename='images/img3.jpeg')}}">
                        </div>
                        <div>
                            <img class="revolving-img" src="{{ url_for('static', filename='images/img4.jpeg')}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-column-section" style="margin-top: 50px; margin-bottom: 0px;">
                <div class="content">
                    <svg class="page-text" viewBox="0 0 800 100">
                        <defs>
                            <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="0%" style="stop-color:#ff7e5f; stop-opacity:1" />
                                <stop offset="100%" style="stop-color:#feb47b; stop-opacity:1" />
                            </linearGradient>
                        </defs>
                        <text x="0" y="50%" style="font-size: 50px; font-weight: bold;" dominant-baseline="middle" text-anchor="start" fill="url(#gradient)">
                            Hi again, I'm Avery.
                        </text>
                    </svg>
                </div>
            </div>
            
            <div class="page-column-section" style="margin-top: none;">
                <div class="content">
                    <p class="page-text">
                        I’m a freshman at the University of Texas at Austin, studying Computer Science. I started this website as a way to share my projects, keep track of what I’m learning, and create something that feels a little more personal.                </div>
            </div>
            <div class="page-column-section">
                <div class="content">
                    <p class="page-text">
                        When I’m not in class, I’m usually working on coding projects, playing tennis, hitting the gym, or picking up new hobbies like piano, exploring the stock market, or learning different languages. I also just love listening to music—it’s the background to pretty much everything I do.                </div>
            </div>
            <div class="page-column-section">
                <div class="content">
                    <p class="page-text">
                        On the tech side, I’ve gained experience with Python, Java, C++, SQL, HTML/CSS, and React Native, as well as working with MongoDB through Atlas, LangChain chat prompting, AI agents, and user authentication systems. Each project, whether it’s for class, a hackathon, or just for fun, has pushed me to learn something new and keep building.
                </div>
            </div>
            <div class="page-column-section">
                <div class="content">
                    <p class="page-text">
                        Thanks for stopping by—feel free to click around the floating icons to see more. Adios!
                </div>
            </div>
        </div>
        <div class="page-row-section" style="margin-left: 120px;">
            <div>
              </div>
                    <div class="c">
                        <a href="https://www.linkedin.com/in/averykallen/" target="_blank" style="all: unset;">
                            <img class="floating-img" src="{{ url_for('static', filename='images/linkedin_trans_icon.png') }}">
                        </a>
                    </div>
                    <div class="d" style="margin-left: 25px;">
                        <a href="https://app.utrsports.net/profiles/2804949" target="_blank" style="all: unset;">
                            <img class="floating-img" src="{{ url_for('static', filename='images/UTR_trans_icon.png')}}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        const a = document.querySelector('.a');
        const b = document.querySelector('.b');
        const c = document.querySelector('.c');
        const d = document.querySelector('.d');
        const headerEl = document.querySelector('.header');


        function checkHeaderScrolled() {
            if (window.scrollY > 30 || areDivsTouching(a, b, c, d, headerEl)) {
                headerEl.classList.add('header-scrolled');
            }
            else {
                headerEl.classList.remove('header-scrolled');
            }
        }

        window.addEventListener('resize', checkHeaderScrolled);
        window.addEventListener('scroll', checkHeaderScrolled);

        setInterval(checkHeaderScrolled, 100);

        const imageWrapper = document.querySelector('.image-wrapper');
        const imageItems = document.querySelectorAll('.image-wrapper > *');
        const imageLength = imageItems.length;
        const perView = 3
        let totalScroll = 0
        const delay = 7500

        imageWrapper.style.setProperty('--per-view', perView)
        for(let i = 0; i < perView; i++) {
            imageWrapper.insertAdjacentHTML('beforeend', imageItems[i].outerHTML)
        }

        let autoScroll = setInterval(scrolling, delay)
        
        function scrolling() {
            totalScroll++
            if(totalScroll == imageLength + 1) {
                clearInterval(autoScroll)
                totalScroll = 1
                imageWrapper.style.transition = '0s'
                imageWrapper.style.left = '0'
                autoScroll = setInterval(scrolling, delay)
            }
            const widthEl = document.querySelector('.image-wrapper > :first-child').offsetWidth + 24
            imageWrapper.style.left = `-${totalScroll * widthEl}px`
            imageWrapper.style.transition = '1s'
            highlightCenterImage()

        }

        function highlightCenterImage() {
            const allItems = document.querySelectorAll('.image-wrapper > *');
            allItems.forEach(item => item.classList.remove('center-image'));
            let centerIndex = totalScroll + Math.floor(perView / 2);
            if (centerIndex >= allItems.length) {
                centerIndex = centerIndex % imageLength;
            }
            allItems[centerIndex].classList.add('center-image');
        }

        highlightCenterImage();

    

        function updateAnimationRandomsA() {
            var randomHeightA = (Math.random() * 300) + 300;
            var randomTimeA = (Math.random() * 5) + 25;
            var aElement = document.querySelector('.a');

            aElement.style.animation = 'none';
            document.documentElement.style.setProperty('--animation-height-a', randomHeightA + 'px');
            document.documentElement.style.setProperty('--animation-time-a', randomTimeA + 's');
            aElement.offsetHeight;
            aElement.style.animation = 'bounce1 var(--animation-time-a) infinite';
        }
        
        function updateAnimationRandomsB() {
            var randomHeightB = (Math.random() * 300) + 300;
            var randomTimeB = (Math.random() * 5) + 25;
            var bElement = document.querySelector('.b');

            bElement.style.animation = 'none';
            document.documentElement.style.setProperty('--animation-height-b', randomHeightB + 'px');
            document.documentElement.style.setProperty('--animation-time-b', randomTimeB + 's');
            bElement.offsetHeight;
            bElement.style.animation = 'bounce2 var(--animation-time-b) infinite';
        }

        function updateAnimationRandomsC() {
            var randomHeightC = (Math.random() * 300) + 300;
            var randomTimeC = (Math.random() * 5) + 25;
            var cElement = document.querySelector('.c');

            cElement.style.animation = 'none';
            document.documentElement.style.setProperty('--animation-height-c', randomHeightC+ 'px');
            document.documentElement.style.setProperty('--animation-time-c', randomTimeC + 's');
            cElement.offsetHeight;
            cElement.style.animation = 'bounce3 var(--animation-time-c) infinite'; 
        }

        function updateAnimationRandomsD() {
            var randomHeightD = (Math.random() * 300) + 300;
            var randomTimeD = (Math.random() * 5) + 25;
            var dElement = document.querySelector('.d');

            dElement.style.animation = 'none';
            document.documentElement.style.setProperty('--animation-height-d', randomHeightD + 'px');
            document.documentElement.style.setProperty('--animation-time-d', randomTimeD + 's');
            dElement.offsetHeight;
            dElement.style.animation = 'bounce4 var(--animation-time-d) infinite';
        }

        function areDivsTouching(a, b, c, d, header) {
            const rect1 = a.getBoundingClientRect();
            const rect2 = b.getBoundingClientRect();
            const rect3 = c.getBoundingClientRect();
            const rect4 = d.getBoundingClientRect();
            const rectH = header.getBoundingClientRect();

            return (
                (rect1.top - 50 <= rectH.bottom && rect1.bottom + 50 >= rectH.bottom) ||
                (rect2.top - 50 <= rectH.bottom && rect2.bottom  + 50 >= rectH.bottom) ||
                (rect3.top - 50 <= rectH.bottom && rect3.bottom + 50 >=rectH.bottom) ||
                (rect4.top - 50 <= rectH.bottom && rect4.bottom + 50 >= rectH.bottom) 
            );
        }

        const glowingCircle = document.getElementById('glowing-circle');
        let mouseX = 0;
        let mouseY = 0;

        function updateGlowingCircle() {
            glowingCircle.style.left = `${mouseX + window.scrollX}px`;
            glowingCircle.style.top = `${mouseY + window.scrollY}px`;
        }

        document.addEventListener('mousemove', (e) => {
            mouseX = e.clientX;
            mouseY = e.clientY;
            updateGlowingCircle();
        });

        window.addEventListener('scroll', updateGlowingCircle);

        document.addEventListener('DOMContentLoaded', function() {
            const navLinks = document.querySelectorAll('.nav-text');
            navLinks.forEach(link => {
                if (link.href === window.location.href) {
                    link.classList.add('active');
                }
            });
        });

                
            
            updateAnimationRandomsA();
            updateAnimationRandomsB();
            updateAnimationRandomsC();
            updateAnimationRandomsD();
            highlightCenterImage();

            

            document.querySelector('.a').addEventListener('animationiteration', updateAnimationRandomsA);
            document.querySelector('.b').addEventListener('animationiteration', updateAnimationRandomsB);
            document.querySelector('.c').addEventListener('animationiteration', updateAnimationRandomsC);
            document.querySelector('.d').addEventListener('animationiteration', updateAnimationRandomsD);
        


    </script>
</body>
</html