<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My name is Avery Allen, a high school student passionate about computer science. Feel free to explore my projects and achievements. Enjoy browsing my page and discovering what it has to offer!">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='images/AAlogo.png') }}" type="image/png">
    <title>Avery's Website</title>
</head>
<body>
    <div class="background-container">
        <header class="header">
            <a href="/" class="nav-text" id="home-link">Home</a>
            <nav class="nav-bar">
                <a href="{{ url_for('about') }}" class="nav-text" id="about-link">About Me</a>
                <a href="{{ url_for('projects') }}" class="nav-text" id="projects-link">Projects</a>
            </nav>
        </header>
        <div class="page-column-section">
            <img class="profile-picture" src="{{ url_for('static', filename='images/personal_picture.jpeg') }}">
            <h1 class="expand" style="font-size: 20px; margin-top: 30px; color: white;">Hi, I'm</h1>
            <h2 class="expand" style="font-size: 100px; color: rgb(255, 217, 0);">Avery Allen</h2>
        </div>
        <div class="content page-column-section" style="padding-bottom: 0px;">
            <section>
                <div class="selector-content">
                    <div class="page-row-section" style="margin-top: 100px;">
                        <img style="margin-left: 200px; height: 25%; width: 25%; margin-bottom: 20px; border-radius: 5px;" src="{{ url_for('static', filename='images/index_about_me.jpeg') }}">
                        <div class="page-column-section">
                            <div class="page-text" style="width: 70%; margin-left: 150px; margin-right: 150px;">
                                I'm Avery Allen and this is my Personal Website! I love pushing the boundaries of coding and exploring the different possibilities that can be achieved from code! While I am learning different Algorithms, Data Structures, Machine Learning Model, and various software for Robotics skills, this website was made to hone my front-end and back-end skills for Web Design/App Development and really show who I am! I hope you explore my whole website and enjoy the extra visual features I added!
                            </div>
                            <a href="/about" class="button-link">About Me</a>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="page-column-section" style="background-color: rgb(248, 252, 252); width: 100vw; margin-top: 75px;">
                    <h1 style="margin-top: 75px; font-size: 35px;">Skills</h1>
                    <div class="grid-container selector-content" style="margin-top: 75px; margin-bottom: 75px;">
                        <div class="grid-item">
                            <h1>Python</h1>
                            <p style="margin-top: 15%; line-height: 1.4;">I have ample experience with Python due to various online resources and problem sets. I've completed <a class="link-text" href="https://pll.harvard.edu/course/cs50-introduction-computer-science" target="_blank">CS50's Introduction to Computer Science</a>, Intro To Python Book, and <a class="link-text" href="https://www.youtube.com/playlist?list=PLeo1K3hjS3uu_n_a__MI_KktGTLYopZ12" target="_blank">Data Structures & Algorithms Tutorial</a> on Youtube as well as actively completing many easy and medium problems on <a class="link-text" href="https://leetcode.com/progress/?page=1" target="_blank">Leetcode</a> with Python3.</p>
                        </div>
                        <div class="grid-item">
                            <h1>Java</h1>
                            <p style="margin-top: 15%; line-height: 1.4;">I am very comfortable with Java as a result of my school courses and being involved in robotics. I was familiarized with Java learning from <a class="link-text" href="https://runestone.academy/ns/books/published/csawesome/index.html" target="_blank"> CSAwesome's AP CSA Java Course</a> and furthered my Java understanding working on Motor Controls with PID's and LazerCAN sensor's for the AustinCAN's FRC Robot.</p>
                        </div>
                        <div class="grid-item">
                            <h1>HTML, CSS, JavaScript</h1>
                            <p style="margin-top: 15%; line-height: 1.4;">I've worked on numerous projects with my friends and by myself using HTML/CSS/JavaScript such as <a class="link-text" href="/andersonCodingClub">my coding club's web page</a>, various hackathon projects, and this <a class="link-text" href="place-holder">personal website</a>.</p>
                        </div>
                        <div class="grid-item">
                            <h1>React Native, TypeScript</h1>
                            <p style="margin-top: 15%; line-height: 1.4;">Due to my work on <a class="link-text" href="/fistbump">Fistbump</a>, I have gained front-end skills working with React Native/TypeScript. With continuous work and goals to expand this app as well as hopes of creating many more apps in the future, I know these skills will continue to grow.</p>
                        </div>
                        <div class="grid-item">
                            <h1 style="font-size: 17px;">Machine Learning, Artificial Intelligence</h1>
                            <p style="font-size: 14.8px; margin-top: 15%; line-height: 1.4;">Over the past year I have had substantial involvement with machine learning taking <a class="link-text" href="https://www.inspiritai.com/" target="_blank">Inspirit AI's Scholar</a> program, <a class="link-text" href="https://www.inspiritai.com/blogs/ai-student-blog/inspirit-ai-overview-by-an-ai-ambassador" target="_blank">Inspirit AI's Ambassador</a> program (link to blog page by fellow ambassador), and am currently taking <a class="link-text" href="https://www.inspiritai.com/returning-students" target="_blank">Inspirit AI's Independent Project Mentorship</a> program where I am in the process of making a research paper using CNN and NLP models.</p>
                        </div>
                        <div class="grid-item">
                            <h1>C++, SQL</h1>
                            <p style="margin-top: 15%; line-height: 1.4;">I have a sufficient understanding of C++ and SQL as I learned the fundamentals of these languages in <a class="link-text" href="https://pll.harvard.edu/course/cs50-introduction-computer-science" target="_blank">CS50's Introduction to Computer Science</a>.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section style="background-color: rgb(248, 252, 252);">
                <div class="spacer"></div>
                <h1 style="font-size: 45px; margin-top: -50px; text-align: center; margin-bottom: 50px;">My Computer Science Timeline</h1>
              
                <div class="scroller">
                  <!-- Sticky mask that holds the SVG scribble -->
                  <div class="mask">
                    <svg id="scribble" width="100%" height="100%" preserveAspectRatio="none"
                         xmlns="http://www.w3.org/2000/svg"></svg>
                  </div>
                    <div class="timeline">
                        <div class="timeline-component">
                            <div class="timeline-date timeline-date-right">feb 23, 2023 - apr 24, 2023</div>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-point"></div>
                        </div>
                        <div class="timeline-component timeline-component-bg">
                            <h2 class="timeline-title">Python book for beginners</h2>
                            <p class="timeline-paragraph">
                                This was my first time learning a read coding language: python. I learned about basic variables, lists, dictionaries, and loops in the python language as well as how to figure out and solve basic problems.
                            </p>
                        </div>
                        <div class="timeline-component timeline-component-bg">
                            <h2 class="timeline-title">CS50: Introduction to Computer Science</h2>
                            <p class="timeline-paragraph">
                                Enrolled in and completed the Harvard CS50 Introduction To Computer Science course. Covering C++, Python, SQL, Scratch and more, I was taught how to learn how to code and how to solve the problems that would arise while learning new code.
                            </p>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-point"></div>
                        </div>
                        <div class="timeline-component">
                            <div class="timeline-date">jun 20, 2023</div>
                        </div>
                        <div class="timeline-component">
                            <div class="timeline-date timeline-date-right">August 14th, 2023 - May 24th, 2024</div>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-point"></div>
                        </div>
                        <div class="timeline-component timeline-component-bg">
                            <h2 class="timeline-title">AP Computer Science</h2>
                            <p class="timeline-paragraph">
                                Enrolled in my schools AP Computer Science course which enriched my Java skills and laid a foundation for the application of Java in projects and other practical use cases.
                            </p>
                        </div>
                        <div class="timeline-component timeline-component-bg">
                            <h2 class="timeline-title">Joined austinCANS Robotics Team</h2>
                            <p class="timeline-paragraph">
                                Joining the robotics team improved my programming skills taught me what is it like to work in a collaborative STEM environment. I learned how to manipulate motors and utilize LazerCAN sensors to achieve various functions that were necessary for the robot. I also learned how to use Path Planner to automate the movement of the robot to achieve specific paths and motions.
                            </p>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-point"></div>
                        </div>
                        <div class="timeline-component">
                            <div class="timeline-date">August 14th, 2023 - May 24th, 2024</div>
                        </div>
                        <div class="timeline-component">
                            <div class="timeline-date timeline-date-right">October 17th, 2023 - Present</div>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-point"></div>
                        </div>
                        <div class="timeline-component timeline-component-bg">
                            <h2 class="timeline-title">Creation of Competitive Coding Club</h2>
                            <p class="timeline-paragraph">
                                On this day the idea of creating a Competitive Coding Club was sprouted and the first official website creation was committed to Github. This club was a major turning point for me because it was a space where I spent a lot of time harnessing my programming skills by competing in friendly Leetcode battles with other members and where I would work on Hackathon Projects with my teammates.
                            </p>
                        </div>
                        <div class="timeline-component timeline-component-bg">
                            <h2 class="timeline-title">Devpost Hackathons</h2>
                            <p class="timeline-paragraph">
                                Throughout this time period, my friends and I were actively involved in online hackathons and even placed top 5 in an event. I grew due to the entire process of creating ideas, websites, and presentations for the judges. Enhancing my HTML/CSS/Javascript skills, we worked on a generative education tutor website, a phishing protector website, and a website version of Fistbump, our social media app.
                            </p>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-point"></div>
                        </div>
                        <div class="timeline-component">
                            <div class="timeline-date">Nov 1st, 2023 - Feb 11th, 2024</div>
                        </div>
                        <div class="timeline-component">
                            <div class="timeline-date timeline-date-right">Feb 12th, 2024 - Present</div>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-point"></div>
                        </div>
                        <div class="timeline-component timeline-component-bg">
                            <h2 class="timeline-title">Fistbump</h2>
                            <p class="timeline-paragraph">
                                My friends and I are currently working on a social media app. Using React Native to work on both the front-end and back-end code. This app uses a responsive algorithm to expand the user's network.
                            </p>
                        </div>
                        <div class="timeline-component timeline-component-bg">
                            <h2 class="timeline-title">KneeEd</h2>
                            <p class="timeline-paragraph">
                                KneeEd is my AI-guided recovery and performance platform. I’m building the website/app from scratch—
                                daily “recipes,” check-ins, and adaptive plans—while learning full-stack, databases, and AI integration.
                                </p>                            </p>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-point"></div>
                        </div>
                        <div class="timeline-component">
                            <div class="timeline-date">Mar 1st, 2024</div>
                        </div>
                        <div class="timeline-component">
                            <div class="timeline-date timeline-date-right">Oct 15th, 2023 – Feb 10th, 2024</div>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-point"></div>
                        </div>
                        <div class="timeline-component timeline-component-bg">
                            <h2 class="timeline-title">CANKiosk</h2>
                            <p class="timeline-paragraph">
                                An interactive kiosk for robotics competitions that let judges, students, and other teams explore our robot,
                                strategy, and results when we weren’t at the pit. It tracked every click so we could see what visitors cared about
                                and refine our presentation.
                        </div>
                    
                        <div class="timeline-component timeline-component-bg">
                            <h2 class="timeline-title">Admitted to UT Austin</h2>
                            <p class="timeline-paragraph">
                                Admitted for Fall 2025—one of my proudest milestones, reflecting years of projects, leadership, and growth.

                            </p>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-point"></div>
                        </div>
                        <div class="timeline-component">
                            <div class="timeline-date">Feb 15th, 2025</div>
                        </div>
  
                    </div>
                </div>
            </section>

            <button class="scroll-button" onclick="scrollToTopButton()">Back To Top</button>
    </div>
    <script>
        function scrollToTopButton() {
            window.scrollTo({
                top: 0, behavior: 'smooth'
            });
        }

        function myFunction() {
            var element = document.body
            element.classList.toggle("background-change");
        }

        const headerEl = document.querySelector('.header');
        window.addEventListener('scroll', () => {
            if (window.scrollY > 100) {
                headerEl.classList.add('header-scrolled');
            } else if (window.scrollY < 100) {
                headerEl.classList.remove('header-scrolled');
            }
        });

        document.addEventListener('DOMContentLoaded', function () {
            const navLinks = document.querySelectorAll('.nav-text');
            navLinks.forEach(link => {
                if (link.href === window.location.href) {
                    link.classList.add('active');
                }
            });

            function checkVisibility() {
                const elements = document.querySelectorAll('.selector-content');
                elements.forEach(footerEl => {
                    const rect = footerEl.getBoundingClientRect();
                    if (rect.bottom <= (window.innerHeight + 150)) {
                        footerEl.classList.add('visible-selector-content');
                    }
                })
            }

            window.addEventListener('scroll', checkVisibility);
            window.addEventListener('resize', checkVisibility);
            checkVisibility();

        });

        

    </script>
    <script>
        (function () {
          /* =======================
             REVEAL SPEED KNOB
             ======================= */
          const SPEED = 1.2;  // ⬅️ increase to reveal faster (e.g., 1.5–2.5). 1 = original speed
        
          function buildScribblePath(totalHeight, W, {
            topPad  = 140,
            step    = 120,
            ampFrac = 0.38,
            jitter  = 12
          } = {}) {
            const cx  = W / 2;
            const amp = W * ampFrac;
            let y = 0;
            let d = `M ${cx} 0`;
            const j = n => (Math.random() * 2 - 1) * n;
        
            while (y < totalHeight + topPad) {
              const y1 = y + 0.30 * step, y2 = y + 0.60 * step, y3 = y + step;
              const left = cx - amp, right = cx + amp;
        
              d += ` C ${left  + j(jitter)} ${y1 + j(jitter)}, ${left  + j(jitter)} ${y2 + j(jitter)}, ${cx + j(jitter)} ${y2 + j(jitter)}`
                 + ` S ${right + j(jitter)} ${y3 + j(jitter)}, ${right + j(jitter)} ${y3 + j(jitter)}`
                 + ` S ${cx    + j(jitter)} ${y3 + j(jitter)}, ${cx    + j(jitter)} ${y3 + j(jitter)}`;
              y += step;
            }
            return { d, height: y + topPad, width: W };
          }
        
          let path, len, startY, endY;
        
          // ---- REVEAL TIMING KNOBS ----
            // how many viewport-heights BEFORE the timeline enters we start drawing
            const LEAD_IN_SCREENS = 0.8;   // was ~0.30; higher = starts sooner (try 0.8–1.2)
            // how many viewport-heights BEFORE the very end we finish drawing
            const TAIL_OUT_SCREENS = 0.10; // lower = finishes later
            // optional extra pixel nudge
            const START_PIXEL_OFFSET = 20; // add pixels to start even earlier

            function computeBounds() {
            const tl = document.querySelector('.timeline');
            const vh = window.innerHeight || document.documentElement.clientHeight;

            const top    = tl.getBoundingClientRect().top + window.scrollY;
            const height = tl.scrollHeight;

            const leadIn  = vh * LEAD_IN_SCREENS + START_PIXEL_OFFSET;
            const tailOut = vh * TAIL_OUT_SCREENS;

            // Start earlier (above the title), finish a bit before bottom
            startY = top - leadIn;
            endY   = top + height - tailOut;
            }

        
          function sizeScribble() {
            const tl  = document.querySelector('.timeline');
            const svg = document.getElementById('scribble');
            if (!tl || !svg) return;
        
            const W = Math.max(window.innerWidth, document.documentElement.clientWidth);
            const H = tl.scrollHeight + 300;
        
            const { d, height, width } = buildScribblePath(H, W);
        
            svg.innerHTML = '';
            path = document.createElementNS('http://www.w3.org/2000/svg', 'path');
            path.setAttribute('d', d);
            path.setAttribute('vector-effect', 'non-scaling-stroke');
            svg.appendChild(path);
        
            svg.setAttribute('viewBox', `0 0 ${width} ${height}`);
            svg.style.width  = '100vw';
            svg.style.height = `${height}px`;
        
            len = path.getTotalLength();
            path.style.strokeDasharray  = `${len}`;
            path.style.strokeDashoffset = `${len}`;
        
            computeBounds();
            updateDrawFromContainer();
          }
        
          let ticking = false;
          function updateDrawFromContainer() {
            if (ticking) return;
            ticking = true;
            requestAnimationFrame(() => {
              const y = window.scrollY;
              const base = (y - startY) / (endY - startY);     // 0..1 based on timeline travel
              const sped = base * SPEED;                       // ⬅️ faster reveal
              const progress = Math.max(0, Math.min(1, sped)); // clamp
              path.style.strokeDashoffset = `${len * (1 - progress)}`;
              ticking = false;
            });
          }
        
          window.addEventListener('load',  sizeScribble);
          window.addEventListener('resize', sizeScribble);
          window.addEventListener('scroll', updateDrawFromContainer, { passive: true });
        })();
        </script>
        
    
    
    
        
        
</body>
</html>