<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My name is Avery Allen, a high school student passionate about computer science. Feel free to explore my projects and achievements. Enjoy browsing my page and discovering what it has to offer!">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">


    <title>Avery's Website</title>

</head>
<body>
    <div class="background-container">
        <header class="header">
            <a href="/" class="nav-text" id="home-link">Home</a>
            <nav class="nav-bar">
                <a href="/about" class="nav-text" id="about-link">About Me</a>
                <a href="/projects" class="nav-text" id="projects-link">Projects</a>
            </nav>
        </header>
        <div class="page-column-section">
            <img class="profile-picture" src="{{ url_for('static', filename='images/personal_picture.jpeg')  }}">
            <h1 style="font-size: 20px; margin-top: 30px; color: white;">Hi, I'm</h1>
            <h2 style="font-size: 100px; color: rgb(255, 217, 0);">Avery Allen</h2>
        </div>
        <div class="content" style="padding-bottom: 1000px;">
            <section> 
                <p> kajkdsjkej aksdjklfej kl jes ke kjkj ;as;ej kl jefk;l fj;lka jskl;j;klfasej f;kle jawkl;ej flkasdjflk jdasifhjelwn jfsdjlkf jdsalifj lakwrelk jrwlkejflkewj lkfj diosj flkesj </p>
            </section>
        </div>
    </div>
    <div class="timeline">
        <div class="timeline-component">
            <div class="timeline--date timeline-date-right">Jul 20, 2024</div>
        </div>
        <div class="timeline-middle">
            <div class="timeline-point"></div>
        </div>
        <div class="timeline-component timeline-component-bg">
            <h2 class="timeline-title">Day of timeline creation</h2>
            <p class="timeline-paragraph">
                This was when I created this timeline and learned how to do this.
            </p>
        </div>
    </div>
    <script> 
        function myFunction() {
            var element = document.body
            element.classList.toggle("background-change");
        }

        const headerEl = document.querySelector('.header');
        window.addEventListener('scroll', () => {
            if (window.scrollY > 75) {
                headerEl.classList.add('header-scrolled');
            }
            else if (window.scrollY < 75) {
                headerEl.classList.remove('header-scrolled');
            }

        });

        document.addEventListener('DOMContentLoaded', function() {
            const navLinks = document.querySelectorAll('.nav-text');
            navLinks.forEach(link => {
                if (link.href === window.location.href) {
                    link.classList.add('active');
                }
            });
        });

    </script>
</body>
</html>