<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css')}}">

    <title>Projects</title>
</head>
<body>
    <header class="header">
        <a href="/">
            <img src="{{ url_for('static', filename='images/css/AAlogo.png') }}" alt="logo">
        </a>
        <nav class="nav-bar"  >
            <a href="/about" class="option-text"> About Me</a>
            <a href="/projects" class="option-text"> Projects</a>
        </nav>
    </header>
</body>
</html>