<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/IndividualProjects/fistbump.css') }}">
    <title>Fistbump</title>
</head>
<body>
    <div> 
        <header class="header">
            <a href="/" class="nav-text">Home</a>
            <nav class="nav-bar">
                <a href="/about" class="nav-text">About Me</a>
                <a href="/projects" class="nav-text">Projects</a>
            </nav>
        </header>
        <main id="infinite-content">
            <div style="margin-top: 50px; text-align: center;">
                <img class="img-background" src="{{ url_for('static', filename='images/fistbumpHome.jpeg') }}" alt="fistbump home page">
            </div>

            <div class="selector-content">
                <div class="page-row-section">
                    <div style="margin-top: 100px; margin-bottom: 100px; margin-left: 350px; margin-right: 350px;">
                        <p1 class="page-text"> Fistbump is a social networking app that links you with other users. Each day, you recieve 1 random user, with whom you must meet up with in person, and take a picture with them. After this, your image is shared to the wall, where everyone can see connections being made with their friends. This short act of meeting up to take your Fistbump together finishes the hardest step of meeting new people: Breaking the ice. After meeting each other, the two users are physically close and have talked, and this small connection could lead to more conversations, activities done together, shared phone numbers, and eventually, a new friendship.</p1>
                    </div>
                </div>
            </div>
            <div class="selector-content">
                <div class="page-row-section" style="margin-bottom: 100px;">
                    <img style="margin-right: 100px;" class="img-vertical" src="{{ url_for('static', filename='images/fistbumpProfile.jpeg') }}" alt="fistbump profile page">
                    <img style="margin-left: 100px;" class="img-vertical" src="{{ url_for('static', filename='images/fistbumpPhoto.jpeg') }}" alt="fistbump picture page">
                </div>
            </div>
            <div class="buffer-zone page-row-section"> 
                <button class="load-button" onmouseover="previewNextPage()" onmouseout="hideNextPage()" onclick="loadMoreContent()">

                    <img style="position: relative;" src="{{ url_for('static', filename='images/arrow_down.png') }}">
                </button>
            </div>
            <div id="next-page-preview" class="hidden"></div>

        </main>
    </div>

 
    <div id="loading" style="display: none;">Loading...</div>

    <script>
        const pages = [
            '/fistbump',
            '/stockSentiment'
        ];
        let currentPageIndex = 0;
        let loading = false;
        let nextPageContent = '';

        const disableDownScroll = (event) => {
            if (event.deltaY > 0 || event.key === 'ArrowDown') {
                event.preventDefault();
            }
        };

        const enableScroll = () => {
            window.removeEventListener('wheel', disableDownScroll, { passive: false });
            window.removeEventListener('keydown', disableDownScroll, { passive: false });
        };

        const loadMoreContent = () => {
            if (loading) return;
            loading = true;
            document.getElementById('loading').style.display = 'block';

            currentPageIndex = (currentPageIndex + 1) % pages.length;
            fetch(pages[currentPageIndex])
                .then(response => response.text())
                .then(data => {
                    const parser = new DOMParser();
                    const newDocument = parser.parseFromString(data, 'text/html');
                    const newContent = newDocument.getElementById('infinite-content').innerHTML;
                    const newContentContainer = document.createElement('div');
                    newContentContainer.innerHTML = newContent;
                    document.getElementById('infinite-content').appendChild(newContentContainer);
                    document.getElementById('loading').style.display = 'none';
                    loading = false;
                    window.scrollBy({ top: 700, behavior: 'smooth' });
                    enableScroll();
                    prefetchNextPage();
                })
                .catch(() => {
                    document.getElementById('loading').style.display = 'none';
                    loading = false;
                    enableScroll();
                });
        };

        const prefetchNextPage = () => {
            const nextPageIndex = (currentPageIndex + 1) % pages.length;
            fetch(pages[nextPageIndex])
                .then(response => response.text())
                .then(data => {
                    const parser = new DOMParser();
                    const newDocument = parser.parseFromString(data, 'text/html');
                    const newContent = newDocument.getElementById('infinite-content').innerHTML;
                    nextPageContent = newContent; // Store the pre-fetched content
                    document.getElementById('next-page-preview').innerHTML = nextPageContent;
                })
                .catch(() => {
                    console.error('Failed to prefetch next page');
                });
        };

        const previewNextPage = () => {
            document.getElementById('next-page-preview').classList.remove('hidden');
            document.getElementById('next-page-preview').innerHTML = nextPageContent;
        };

        const hideNextPage = () => {
            document.getElementById('next-page-preview').classList.add('hidden');
        };

        document.addEventListener('DOMContentLoaded', () => {
            function checkVisibility() {
                var elements = document.querySelectorAll('.selector-content');
                elements.forEach(function(footerEl) {
                    const rect = footerEl.getBoundingClientRect();
                    if (rect.bottom <= (window.innerHeight + 150)) {
                        footerEl.classList.add('visible-selector-content');
                    }
                });
            }
            window.addEventListener('scroll', checkVisibility);
            window.addEventListener('resize', checkVisibility);
            checkVisibility();

            prefetchNextPage();

            window.addEventListener('scroll', () => {
                const nextPagePreview = document.getElementById('next-page-preview');
                const nextPagePreviewRect = nextPagePreview.getBoundingClientRect();
                const previewHeight = nextPagePreviewRect.height;

                if ((window.innerHeight + window.scrollY) >= (document.body.offsetHeight - previewHeight)) {
                    window.addEventListener('wheel', disableDownScroll, { passive: false });
                    window.addEventListener('keydown', disableDownScroll, { passive: false });
                }
            });
        });


        /*window.addEventListener('scroll', () => {
                if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight - 500) {
                    loadMoreContent();
                }
            });*/

        














    
        /*document.addEventListener('DOMContentLoaded', () => {
            const pages = [
                '/fistbump',
                '/stockSentiment'
            ];
            let currentPageIndex = 0;
            let loading = false;
            let bufferReached = false;
            let scrollCount = 0;
            let lastScrollTime = 0;
            let scrollFactor = 0.5;
            let slowScrollEnabled = true;

            const freezeScroll = () => {
                document.body.classList.add('no-scroll');
            };

            const unfreezeScroll = () => {
                document.body.classList.remove('no-scroll');
            };

            const loadMoreContent = () => {
                if (loading || scrollCount < 1) return;
                loading = true;
                document.getElementById('loading').style.display = 'block';

                currentPageIndex = (currentPageIndex + 1) % pages.length;
                fetch(pages[currentPageIndex])
                    .then(response => response.text())
                    .then(data => {
                        const parser = new DOMParser();
                        const newDocument = parser.parseFromString(data, 'text/html');
                        const newContent = newDocument.getElementById('infinite-content').innerHTML;
                        const newContentContainer = document.createElement('div');
                        newContentContainer.innerHTML = newContent;
                        document.getElementById('infinite-content').appendChild(newContentContainer);
                        document.getElementById('loading').style.display = 'none';
                        loading = false;
                        bufferReached = false;
                        scrollCount = 0;
                        window.scrollTo({ top: newContentContainer.offsetTop, behavior: 'smooth' });

                        slowScrollEnabled = false;
                        setTimeout(() => {
                            slowScrollEnabled = true;
                        }, 1000);

                    })
                    .catch(() => {
                        document.getElementById('loading').style.display = 'none';
                        loading = false;
                        bufferReached = false;
                    });
            };

            const bufferZone = document.getElementById('buffer-zone');
            const slowScrollContainer = document.getElementById('slow-scroll');

            window.addEventListener('scroll', () => {
                const now = Date.now();
                if (now - lastScrollTime < 200) return;
                lastScrollTime = now;

                const rect = bufferZone.getBoundingClientRect();
                if ((rect.bottom - 200) <= window.innerHeight && !bufferReached) {
                    bufferReached = true;
                    scrollCount = 0;
                    window.scrollBy({ top: -200, behavior: 'smooth' });
                    freezeScroll();
                    setTimeout(() => {
                        unfreezeScroll();
                        window.addEventListener('wheel', smoothScroll);
                    }, 1000);
                }

                else if (!bufferReached) {
                    window.removeEventListener('wheel', smoothScroll);
                }

            });

            const smoothScroll = (event) => {
                const slowScrollRect = slowScrollContainer.getBoundingClientRect();
                if (slowScrollEnabled && slowScrollRect.top <= window.innerHeight && slowScrollRect.bottom >= window.innerHeight) {
                    event.preventDefault();
                    const targetScroll = window.scrollY + event.deltaY * scrollFactor;
                    window.requestAnimationFrame(() => {
                        window.scrollTo({
                            top: targetScroll,
                            behavior: 'smooth'
                        });
                    });
                } 
                
                if (bufferReached && event.deltaY > 0) { 
                    scrollCount++;
                    if (scrollCount >= 1 && !loading) {
                        loadMoreContent();
                    }
                }
            };


            window.addEventListener('touchmove', () => {
                if (bufferReached) {
                    scrollCount++;
                    if (scrollCount >= 1 && !loading) {
                        loadMoreContent();
                    }
                }
            });
        });*/

    </script>
    
    
</body>
</html>