<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/IndividualProjects/stockSentiment.css') }}">
    <title>Stock Sentiment</title>
</head>
<body>
    <div> 
        <header class="header">
            <a href="/">
                <img class="option-logo" src="{{ url_for('static', filename='images/AAlogo.png') }}" alt="logo">
            </a>
            <nav class="nav-bar">
                <a href="/about" class="nav-text">About Me</a>
                <a href="/projects" class="nav-text">Projects</a>
            </nav>
        </header>
        <main>
            <div style="margin-top: 50px; text-align: center;">
                
            </div>

            <div class="selector-content">
                <div class="page-row-section">
                    <div style="margin-top: 100px; margin-bottom: 100px; margin-left: 350px; margin-right: 350px;">
                        
                    </div>
                </div>
            </div>
            <div class="selector-content">
                <div class="page-row-section" style="margin-bottom: 100px;">
                    
                </div>
            </div>
        </main>
    </div>
        <script>
            function checkVisibility() {
                var elements = document.querySelectorAll('.selector-content');
                elements.forEach(function(footerEl) {
                    const rect = footerEl.getBoundingClientRect();
                    if (rect.bottom <= (window.innerHeight + 200)) {
                        footerEl.classList.add('visible-selector-content')
                    }
                    
                });
            }
            window.addEventListener('scroll', checkVisibility);
            window.addEventListener('resize', checkVisibility);
            document.addEventListener('DOMContentLoaded', checkVisibility);


        </script>
</body>
</html>